<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
	<!--부트스트랩 파일로, js, jQuery ?-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
   <script scr="https://code.jQuery.com/jquery-3.5.1min.js"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
    <!--자바스크립트 위치 고정 Start -->
    <th:block layout:fragment="script"></th:block>
    <!--자바스크립트 end -->
    <th:block layout:fragment="css"></th:block>

    <!-- CSS -->
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    <div th:replace="fragments/header::header"></div>

    <div layout:fragment="content" class="content">

    </div>

    <div th:replace="fragments/footer::footer"></div>
    
</body>
</html>